
  <nav className="nav">
    <img class="nav--img" src="assets/images/acc-logo.png" />
    <div class="nav--text">Welcome to Angular Training</div>
  </nav>


  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-4" style="background-color: black" >
        <img class="col--1" src="assets/images/bld.jpg" />
      </div>
      <div class="col-md-4" style="background-color: green" >
        Column
      </div>
      <div class="col-md-4" style="background-color: pink; color: blue " >
        <li>GIS Training</li>
        <li>ARCGIS Training</li>
        <li>Enterprise GIS Training</li>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-6" style="background-color: red">
        Column
      </div>
      <div class="col-md-6" style="background-color: orange">
        Column
      </div>
      
    </div>
  </div>

  


  <div id="footer">
    copyright @ accenture 2023
  </div>










<router-outlet></router-outlet>
